body {
    background: #524B58;
}

/*
  ========================================
  Header
  ========================================
*/

.jordan {
    background: ;
    padding-top:20px; 
    text-align: center;
}

.jordan h1 {
    color: #ffa500;
}

.span_1_of_3,
.span_1_of_3 h1,
.span_1_of_3 h3{
    color: #fff;
}

/*
  ========================================
  grid
  ========================================
*/

.span_1_of_3{
	width: 32.26%; 
}

/*
  ========================================
  GO FULL WIDTH AT LESS THAN 480 PIXELS
  ========================================
*/


@media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}

/*
  ========================================
  Footer
  ========================================
*/

.footer_1_of_3{
    width: 32.26%;
    text-align: center;
}

.first{
    text-align: right;
    padding-top: 60px;
}

.second {
    text-align: center;
}

.third {
    padding-top: 60px;
}

/*
  ========================================
  Sections
  ========================================
*/

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
    background-image: url("../images/bg.jpg"); 
    background-repeat: no-repeat; 
    background-size: 100%;
}


/*
  ========================================
  Grouping
  ========================================
*/

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*
  ========================================
  Grid Colomn Setup
  ========================================
*/

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

/*
  ========================================
  Button
  ========================================
*/


.btn {
    background: #343434;
    border-radius: 35px;
    color: #ffa500;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-alt {
    text-align: center;
    border: 1px solid ;
    padding: 10px 20px;
}
